
# Ignorar todos los archivos con cierta extensión
*.log
*.tmp
*.bak

# Ignorar directorios generados por IDEs
.idea/
.vscode/

# Ignorar archivos de compilación
*.class
*.jar
*.war

# Ignorar archivos de dependencias de Maven
/target/
